$textoprincipal:'IBM Plex Sans',
sans-serif;
$tamañotexto: x-large;


.lead {
   color: black;
   overflow: visible;
   border-style: solid;
   border-width: 0px;
   background-color: #ffffff;
   text-align: left;

   .parrafos {
      text-align: left;
   }

   p {
      font-family: $textoprincipal;
      font-size: $tamañotexto;
   }
}

footer {
   color: black;
   border-top: 0.50rem solid #EDCDBB;
   background-color: #fdf7e2;
   padding-top: 20px;
   padding-bottom: 30px;
}

header {
   color: black;
   border-bottom: 0.50rem solid #EDCDBB;
   background-color: #fdf7e2;

   a {
      color: black;
      text-decoration: none;
   }

   &:hover {
      color: darkgrey;
   }
}

#ubicacion {
   text-align: center;
   padding-bottom: 40px;
}

@media screen and (min-width:320px) {

   li {
      display: none;
   }
}

.lead {
   img {
      width: 20rem;
      height: 15rem;
   }
}

.nosotros {
   img {
      width: 20rem;
      height: 15rem;
   }
}

.parrafos {
   text-align: center;
}

#formulario {
   margin-left: 4px;
   margin-right: 4px;
   padding-bottom: 20px;

   .button {
      font-size: 16px;
      color: black;
      background-color: #EDCDBB;
      border-color: black;
   }
}

footer {
   .aqua {
      padding-right: 50px;
   }

   .mapa {
      display: none;
   }

   #instagramlogo2,
   #facebooklogo2 {
      padding-left: 20px;
   }
}

#facebooklogo,
#instagramlogo {
   display: none;
}

#servicio {
   img {
      width: 20rem;
      height: 15rem;
   }
}

#ubicacion {
   iframe {
      width: 90%;
   }
}



@media screen and (min-width:1200px) {
   header {
      #menuBurger {
         display: none;
      }

      #facebooklogo,
      #instagramlogo,
      li {
         display: inherit;
      }
   }

   .lead {
      .parrafos {
         text-align: left;
      }
   }

   footer {
      .mapa {
         display: inherit;
      }

      .aqua {
         padding-left: 150px;
      }
   }

   #formulario {
      margin-left: 4px;
      margin-right: 4px;

      .button {
         font-size: 16px;
         color: black;
         background-color: #EDCDBB;
         border-color: black;

         &:hover {
            background-color: black;
            color: white;
            border-color: white;
         }
      }
   }
}