@import "_maquetado";

$redes:(facebooklogo:#4267B2, instagramlogo:#fd1d1d, facebooklogo2:#4267B2, instagramlogo2:#fd1d1d);

@each $red,
$color in $redes {
   ##{$red} {
      color: $color;
   }
}

.aquamdp {
   color: black;
   transition-duration: .08s;

   &:hover {
      color: map-get($redes, facebooklogo);

   }
}